<div class="section-container">
  <h2>Latest orders</h2>
  <table class="table table-inverse table-hover">
    <thead class="thead-dark">
      <tr>
        <th>
          Cod.
        </th>
        <th>
          Customers
        </th>
        <th>
          Total
        </th>
        <th>
          Order placed
        </th>
        <th>
          Order Fulfilled
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let order of orders'>
        <td>{{order.id}}</td>
        <td>{{order.customer.name}}</td>
        <td>{{order.total}}</td>
        <td>{{order.placed | date:'dd/MM/yyyy'}}</td>
        <td>{{order.fulfilled | date:'dd/MM/yyyy'}}</td>
        <td>Status</td>
      </tr>
    </tbody>
  </table>
</div>