<div class="section-container">
  <div class="row-fluid cards">
    <div class="card-deck">

      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>DailyOrder</h5>
        </div>
        <div class="card-body card-body-theme">
          <app-barChart></app-barChart>
        </div>
      </div>

      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Order by Customer</h5>
        </div>
        <div class="card-body card-body-theme">
          <app-pieChart></app-pieChart>
        </div>
      </div>

      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Order by state</h5>
        </div>
        <div class="card-body card-body-theme">
          <app-pieChart></app-pieChart>
        </div>
      </div>

    </div>
  </div>
  <div class="row-fluid cards">
    <div class="card shadow card-theme card-bottom">
      <div class="card-header card-header-theme">
        <h5>Monthly Sales By Product</h5>
      </div>
      <div class="card-body">
        <app-lineChart></app-lineChart>
      </div>
    </div>
  </div>
</div>
