/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap//dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --main-font: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    font-family: var(--main-font);
    background-color: #ffffff;
    height: 100%;
}

.section-container{
    padding: 30px;
}

.card-theme
{
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
}

.card-header-theme
{
    color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card-body-theme{
    background-color: rgb(36, 36, 36) !important;
    color: #ffffff;
}

.cards{
    display: flex;
    flex-direction: column;
}